In [2]:
import pandas as pd

df = pd.read_csv('../data/raw/stock_AAPL_20241104.csv')

df

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
1,Date,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-04 00:00:00+00:00,6.454506874084473,7.643214225769043,7.660714149475098,7.585000038146973,7.622499942779541,493729600
3,2010-01-05 00:00:00+00:00,6.465665340423584,7.656428813934326,7.699643135070801,7.6160712242126465,7.664286136627197,601904800
4,2010-01-06 00:00:00+00:00,6.362819671630859,7.534643173217773,7.68678617477417,7.526785850524902,7.656428813934326,552160000
...,...,...,...,...,...,...,...
3731,2024-10-28 00:00:00+00:00,233.39999389648438,233.39999389648438,234.72999572753906,232.5500030517578,233.32000732421875,36087100
3732,2024-10-29 00:00:00+00:00,233.6699981689453,233.6699981689453,234.3300018310547,232.32000732421875,233.10000610351562,35417200
3733,2024-10-30 00:00:00+00:00,230.10000610351562,230.10000610351562,233.47000122070312,229.5500030517578,232.61000061035156,47070900
3734,2024-10-31 00:00:00+00:00,225.91000366210938,225.91000366210938,229.8300018310547,225.3699951171875,229.33999633789062,64370100
3735,2024-11-01 00:00:00+00:00,222.91000366210938,222.91000366210938,225.35000610351562,220.27000427246094,220.97000122070312,65242200